* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.nav_content {
    margin-top: 60px;
}

.hero_content {
    display: flex;
    gap: 14px;
}

.hero_left h1 {
    margin-top: 154px;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -2%;

}

.hero_left p {
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    margin-bottom: 60px;
}

.hero_left button {
    width: 180px;
    height: 60px;
    border: none;
    background: #0F0F54;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1%;
    color: white;
}

.one_content {
    height: 496px;
    width: 100%;
    position: relative;
    margin-top: 168px;
    border-radius: 20px;
    overflow: hidden;
}

.one_content img {
    width: 100%;
    height: 100%;
}

.one_shadow {
    width: 100%;
    height: 100%;
    background: #00000080;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one_shadow img {
    width: 70px;
    height: 70px;
}

.two_content {
    margin-top: 370px;
    background: #0F0F54;
    height: 480px;
    display: flex;
    border-radius: 20px;
}

.two_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: white;
}

.two_left h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -1%;
    margin-bottom: 30px;
}

.two_left p {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0%;
}

.two_right img {
    margin-top: -206px;
}

.three_content {
    display: flex;
    gap: 68px;
    margin-top: 226px;
}

.three_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.three_right h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -1%;
    margin-bottom: 30px;
}

.three_right p {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0%;
}

.four_content {
    background: #F9E0C7;
    margin-top: 360px;
}

.four_left {
    color: black;
}

.two_right img {
    width: 412px;
}

.five_content {
    display: flex;
    margin-top: 244px;
    background: #F8F8F8;
    border-radius: 20px;
}

.five_right {
    padding-left: 55px;
    padding-right: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.five_right h2 {
    font-weight: 600;
    font-size: 40px;
    
    line-height: 52px;
    letter-spacing: 0%;
    margin-bottom: 50px;
}

.five_imgs {
    display: flex;
    gap: 10px;
}

.f_content {
    padding-top: 170px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.f_left p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    margin-top: 43px;
    color: rgba(0, 0, 0, 0.5);
}

.f_center li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 16px;
    list-style: none;
}

.phone {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}

.phone span {
    color: #00000080;
    font-weight: 400;
    font-size: 14px;
   
    line-height: 18px;
    letter-spacing: 0px;
    margin-bottom: 4px;
}

.phone p {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;

}

.f_links {
    display: flex;
    gap: 20px;
}

@media(max-width: 648px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .nav_content {
        margin-top: 80px;
    }

    .hero_content {
        flex-direction: column-reverse;
    }

    .hero_right {
        display: flex;
        justify-content: center;
    }

    .hero_right img {
        width: 307px;
    }

    .hero_left h1 {
        margin-top: 11px;
        margin-bottom: 16px;
        font-size: 36px;
    }

    .hero_left p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 28px;
    }

    .hero_left button {
        width: 150px;
        height: 60px;
        font-size: 18px;
    }

    .one_content {
        height: 220px;
        margin-top: 134px;
        border-radius: 10px;
    }

    .one_shadow img {
        width: 50px;
        height: 50px;
    }


    .two_content {
        margin-top: 270px;
        height: max-content;
        display: flex;
        border-radius: 10px;
        flex-direction: column-reverse;
    }

    .two_left {
        padding-left: 24px;
        padding-bottom: 24px;
        padding-right: 24px;
    }

    .two_left h2 {
        font-size: 26px;
        margin-bottom: 16px;
        margin-top: 14px;
    }

    .two_left p {
        font-size: 16px;
        line-height: 30px;
    }

    .two_right img {
        margin-top: -156px;
        width: 100%;
    }

    .three_content {
        display: flex;
        gap: 0px;
        margin-top: 78px;
        flex-direction: column;
    }

    .three_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .three_right h2 {
        font-size: 26px;
        margin-bottom: 16px;
        margin-top: 40px;
    }

    .three_right p {
        font-size: 18px;
        line-height: 30px;
    }

    .three_left img {
        width: 100%;
    }

    .five_content {
        display: flex;
        margin-top: 196px;
        background: #F8F8F8;
        border-radius: 10px;
        flex-direction: column;
        height: 245px;
        margin-bottom: 330px;
    }

    .five_right {
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .five_left {
        display: flex;
        justify-content: center;
    }

    .five_left img {
        margin-top: -123px;
        width: 300px;
    }

    .five_right h2 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .five_imgs {
        display: flex;
        gap: 10px;
    }

    .f_content {
        padding-top: 0px;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .f_left p {
        margin-top: 20px;
    }

    .f_center li {
        margin-bottom: 10px;
    }

    .phone {
        display: none;
    }


    .f_links {
        display: flex;
        gap: 20px;
    }

}